
<div class="container-fluid" id="productInterface">
    <div class="row">
        <div class="col-12">
            <form id="my-form1">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div>Add Product</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <input [(ngModel)]="product.productName" name="productNameInput" type="text"
                            class="form-control" id="productNameInput" placeholder="Product Name">
                    </div>
                    <div class="form-group col-md-5">
                        <input [(ngModel)]="product.inventoryQuantity" name="inventoryQuantityInput" type="text"
                            class="form-control" id="inventoryQuantityInput" placeholder="Inventory Quantity">
                    </div>
                    <div class="form-group col-md-5">
                        <input [(ngModel)]="product.price" name="priceInput" type="text" class="form-control"
                            id="priceInput" placeholder="Price">
                    </div>
                    <div class="form-group col-md-5">
                        <input [(ngModel)]="product.discription" name="discriptionInput" type="text"
                            class="form-control" id="discriptionInput" placeholder="Description">
                    </div>
                    <div class="form-group col-md-5">
                        <input [(ngModel)]="product.tags" name="tagsInput" type="text" class="form-control"
                            id="tagsInput" placeholder="Tags">
                    </div>
                </div>
                <div class="form-group">
                    <label for="FormControlFile1">Image</label>
                    <input type="file" (change)="onFileSelected($event)" class="form-control-file"
                        id="FormControlFile1">
                </div>
                <button (click)="onClick()" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
<div class="row">
    <div class="col-3" *ngFor="let item of currentProducts; let i = index">
        <div class="card" id="productCardInterface">
            <img class="card-img-top" src={{item.imageUrl}} alt="Card image cap">
            <div class="card-body">
                <input [(ngModel)]="item.productName" name="productNameInput" type="text" class="form-control" id="productNameInput" placeholder="Product Name">
                <textarea [(ngModel)]="item.discription" name="discriptionInput" class="form-control" rows="3" id="discriptionInput" placeholder="Discription"></textarea>
            </div>
            <ul class="list-group list-group-flush">
                <span class="input-group-text">Price: $<input [(ngModel)]="item.price" name="priceInput" type="number" min="0" step="any" class="form-control" id="priceInput" placeholder="Price"></span>
                <span class="input-group-text">Inventory:<input [(ngModel)]="item.inventoryQuantity" name="inventoryQuantityInput" type="number" min="0" class="form-control" id="inventoryQuantityInput" placeholder="inventoryQuantity"></span>
                <span class="input-group-text">Tags:<input [(ngModel)]="item.tags" name="tagsInput" type="text" class="form-control" id="tagsInput" placeholder="tags"></span>
            </ul>
            <div class="card-body">
                <button (click)="updateProduct(i)" class="btn btn-warning">Update</button>
                <button (click)="deleteProduct(i)" class="btn btn-danger">DELETE</button>
            </div>
        </div>
    </div>
</div>
</div>

