<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="table-container">

    <div>
        <div class="row" id="heading">
            <h2>Shipping Assigments</h2>
                <button *ngIf="this.driverService.onShift === true" (click)="this.driverService.driverShiftToggle()" type="button" class="btn btn-success">On-Shift</button>
                <button *ngIf="this.driverService.onShift === false" (click)="this.driverService.driverShiftToggle()" type="button" class="btn btn-warning">Off-Shift</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>ID</th>
                    <th>Customer Name</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>Shipping Date</th>
                    <th>Customer Comments</th>
                    <th>Delivery Comments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of this.driverService.driverOrders">
                    <td class="row-data">
                        <div>
                            <select [(ngModel)]="item.status" id="inlineFormCustomSelect">
                                <option *ngFor="let status of statuses" [value]="status" selected>{{status}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="row-data">{{item.id}}</td>
                    <td class="row-data">{{item.customer.firstname +" "+ item.customer.lastname}}</td>
                    <td class="row-data">
                        {{item.customer.address}}<br>{{item.customer.city +" "+ item.customer.state +" "+item.customer.zip}}
                    </td>
                    <td class="row-data">{{item.customer.phoneNumber}}</td>
                    <td class="row-data">{{item.shippingDate}}</td>
                    <td class="row-data">{{item.customerComments}}</td>
                    <td class="row-data"><textarea [(ngModel)]="item.deliveryComments" name="deliveryComments" rows="3"
                            columns="7"></textarea></td>
                    <td class="row-data"><button class="btn" id="update-btn"
                            (click)="this.driverService.updateDriverOrder(item)"><strong>Update</strong></button></td>
                </tr>
            </tbody>
        </table>
    </div>