#login-form{
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(3, 3, 3);
}
.my-row1{
    
    height: calc( 100vh - 8rem );
}

table {
    border-spacing: 1em .5em;
}

td {
    text-align: center;
    vertical-align: middle;
}

#words{
    color: white;
}

#login-warn {
    font-size: 12px;
    color: crimson;
    background-color: white;
    margin-left: 10px;
    border-radius: 6%;
    padding: 5px;
}