<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<nav class="navbar justify-content-between">
    <div>
        <a class="navbar-brand" (click)="onHomeClick()">
            <img src="assets\images\grocery_logo.jpg" width="65" height="64" id="img">
            <b id="logo"> Online Grocery Store </b>
        </a>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-store"></i> Department
        </button>
        <div class="dropdown-menu">
            <a *ngFor="let department of departments" class="dropdown-item"
                (click)="departmentService.onDepartmentClick(department)">{{department.name}}</a>
        </div>
    </div>

    <!--<app-search-bar></app-search-bar>-->

    <button type="button" class="btn" id="cart-btn" (click)="onCartClick()"><i class="fas fa-shopping-cart"></i> Cart
    </button>

    <div *ngIf="!isLogin">
        <span class="user-btns">
            <a class="navbar-brand" (click)="onRegisterClick()">
                <i class="fas fa-user-plus"></i>
                Signup
            </a>
        </span>
        <span class="user-btns">
            <a class="navbar-brand" (click)="onLoginClick()">
                <i class="fas fa-sign-in-alt"></i>
                Login
            </a>
        </span>
    </div>
    <div *ngIf="isLogin">
        <div class="user-btns">
            <a class="navbar-brand" (click)="onInvoiceClick()">
                <i class="fas fa-file-invoice-dollar"></i>
                View Invoices
            </a>
        </div>
    </div>
    <div *ngIf="isLogin">
        <div *ngIf="loginService.user.accountType.type === 'driver'" class="user-btns">
            <a class="navbar-brand" (click)="onDriverClick()">
                <i class="fas fa-truck"></i>
                Driver
            </a>
        </div>
        <span class="user-btns">
            <div *ngIf="loginService.user.accountType.type === 'admin'">
                <a class="navbar-brand" (click)="onAdminClick()">
                    <i class="fas fa-user-shield"></i>
                    ADMIN
                </a>
            </div>
        </span>
        <div>
            <span class="user-btns">
                <a class="navbar-brand" (click)="loginService.resetLogin(); onHomeClick();">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </a>
            </span>
        </div>
    </div>
</nav>