.container {
    min-height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-image: url(../../../assets/images/wallpaper_grocery.jpg);
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.table-container {
    width: 90%;
    margin: auto;
    padding: 3rem;
    background-color: rgb(218, 230, 227);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#invoice-row {
    display: flex;

}