<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="background-img">
    <div class="container product-display">
        <div *ngIf="selectedDepartment.name !== ''; else browseBlock" class="product-heading animate__animated animate__zoomIn">
            <h1 id="product-header">{{selectedDepartment.name}}</h1>
        </div>
        <ng-template #browseBlock class="product-heading animate__animated animate__zoomIn">
            <h1 id="product-header">Browse</h1>
        </ng-template>
        <div class="row">
            <div *ngFor="let product of products">
                <div *ngIf="product.tags.search(selectedDepartment.name) >= 0">
                    <div *ngIf="product.inventoryQuantity > 0; else soldOutBlock" class="card">
                        <div class="image-container">
                            <img [src]="product.imageUrl" [alt]="product.productName">
                        </div>
                        <h2>{{product.productName}}</h2>
                        <p class="price">${{product.price}} ea</p>
                        <p id="description">{{product.discription}}</p>
                        <input [(ngModel)]="product.buyQuantity" id="quantity-counter" type="number" [placeholder]="default"
                            min="1" [max]="product.inventoryQuantity" step="1" />
                        <p><button class="btn" (click)="departmentService.onAddCartClick(product, product.buyQuantity)">
                                <i class="fas fa-cart-plus"></i> Add
                                To Cart </button></p>
                    </div>
                    <ng-template #soldOutBlock>
                        <div class="card sold-out" aria-disabled="true">
                            <div class="image-container">
                                <img [src]="product.imageUrl" [alt]="product.productName">
                            </div>
                            <h2>{{product.productName}}</h2>
                            <p class="price">${{product.price}} ea</p>
                            <p id="description">{{product.discription}}</p>
                            <input [(ngModel)]="product.buyQuantity" id="quantity-counter" type="number"
                                placeholder="0" min="0" max="0" step="0" disabled />
                            <p><button class="btn" disabled> <i
                                        class="fas fa-times-circle"></i>
                                    SOLD
                                    OUT </button></p>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>