#master-container {
    min-height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-image: url(../../../../assets/images/wallpaper_grocery.jpg);
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.confirm-container {
    width: 60%;
    margin: 5% 20% 23% 20%;
    padding: 3rem;
    background-color: rgb(187, 236, 224);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.failure-container {
    width: 80%;
    margin: 5% 20% 23% 10%;
    padding: 5rem;
    background-color: rgb(240, 203, 203);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: medium;
}