<!-- <div class="container-fluid mt-100 mb-100">
    <div id="ui-view">
        <div>
            <div class="card">
                <div class="card-header"> Invoice
                    <div class="pull-right"> <a class="btn btn-sm btn-info" href="#" data-abc="true"><i class="fa fa-print mr-1"></i> Print</a> <a class="btn btn-sm btn-info" href="#" data-abc="true"><i class="fa fa-file-text-o mr-1"></i> Save</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm-4">
                            <h6 class="mb-3">"To:"</h6>
                            <div>{{loginService.user.firstname + ' ' + loginService.user.lastnam}}</div>
                            <div>{{loginService.user.address}}</div>
                            <div>{{loginService.user.city}}</div>
                            <div>{{loginService.user.state}}</div>
                            <div>{{loginService.user.zip}}</div>

                        <div class="col-sm-4">
                            <h6 class="mb-3">Details:</h6>
                            <div>Invoice<strong> #BBB-245432</strong></div>
                            <div>Purchase Date:</div>
                            <div>Shipping Date:</div>
                            <div>Status</div>
                            <div>Customer Comments</div> 
                            <div>Delivery Comments</div>
                            <div>Payment Method</div>
                            <div>Card Number</div>
                        </div>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="center">#</th>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th class="center">UNIT</th>
                                    <th class="right">COST</th>
                                    <th class="right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="center">1</td>
                                    <td class="left">Laptops</td>
                                    <td class="left">Macbook Air 8GB RAM, 256GB SSD</td>
                                    <td class="center">5</td>
                                    <td class="right">$900</td>
                                    <td class="right">$4500</td>
                                </tr>
                                <tr>
                                    <td class="center">2</td>
                                    <td class="left">Samsung SSD</td>
                                    <td class="left">Samsung SSD(256 GB)</td>
                                    <td class="center">20</td>
                                    <td class="right">$50</td>
                                    <td class="right">$3000</td>
                                </tr>
                                <tr>
                                    <td class="center">3</td>
                                    <td class="left">PEN DRIVES</td>
                                    <td class="left">Samsung Pendrives(32GB)</td>
                                    <td class="center">100</td>
                                    <td class="right">$10</td>
                                    <td class="right">$1000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-5">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</div>
                        <div class="col-lg-4 col-sm-5 ml-auto">
                            <table class="table table-clear">
                                <tbody>
                                    <tr>
                                        <td class="left"><strong>Subtotal</strong></td>
                                        <td class="right">Subtotal: ${{subtotal | number:'1.2-2'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="left"><strong>Discount</strong></td>
                                        <td class="right">$</td>
                                    </tr>
                                    <tr>
                                        <td class="left"><strong>Delivery charge</strong></td>
                                        <td class="right">${{deliveryFee | number:'1.2-2'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="left"><strong>Tax</strong></td>
                                        <td class="right">${{tax | number:'1.2-2'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="left"><strong>Final Price</strong></td>
                                        <td class="right">${{total | number:'1.2-2'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->